Source: github-sync
Section: net
Priority: optional
Maintainer: Chris Lamb <lamby@debian.org>
Build-Depends:
 debhelper (>= 9),
 dh-systemd,
 dh-virtualenv (>= 0.10),
 python,
 python-dev
Standards-Version: 3.9.8

Package: github-sync
Architecture: any
Pre-Depends:
 python3,
 ${misc:Pre-Depends}
Depends:
 ${misc:Depends}
Description: Tool for mirroring non-Github repos on Github
